<div class="inner">
    <h1>{{'APP_TITLE'|translate}}</h1>
    <div class="aboutContainer">
        <h2>{{'APP_ABOUT_1_TITLE'|translate}}</h2>
        <p>{{'APP_ABOUT_1_TEXT'|translate}}</p>

        <h2>{{'APP_ABOUT_2_TITLE'|translate}}</h2>
        <p>{{'APP_ABOUT_2_TEXT'|translate}}</p>

        <h2>{{'APP_ABOUT_3_TITLE'|translate}}</h2>
        <p>{{'APP_ABOUT_3_TEXT'|translate}}</p>

        <h2>{{'APP_ABOUT_4_TITLE'|translate}}</h2>
        <p>{{'APP_ABOUT_4_TEXT'|translate}}</p>

        <h2>{{'APP_ABOUT_5_TITLE'|translate}}</h2>
        <p>{{'APP_ABOUT_5_TEXT'|translate}}</p>

        <h2>{{'APP_ABOUT_6_TITLE'|translate}}</h2>
        <p>
            {{'APP_ABOUT_6_TEXT'|translate}}
            <br/> <img src="images/D73179_20170406_042107.jpg" />
        </p>

        <h2>{{'APP_ABOUT_7_TITLE'|translate}}</h2>
        <ul>
            <li>{{'APP_ABOUT_7_1_TEXT'|translate}}</li>
            <li>{{'APP_ABOUT_7_2_TEXT'|translate}}</li>
            <li>{{'APP_ABOUT_7_3_TEXT'|translate}}</li>
            <li>{{'APP_ABOUT_7_4_TEXT'|translate}}</li>
        </ul>

        <h2>{{'APP_ABOUT_7_TITLE'|translate}}</h2>
        <ul>
            <li><a target="_new" href="https://github.com/folkcert">{{'APP_ABOUT_8_1_TEXT'|translate}}</a></li>
            <li><a target="_new" href="https://html5up.net/">{{'APP_ABOUT_8_2_TEXT'|translate}}</a></li>
            <li><a target="_new" href="https://github.com/vincenzomerolla/angular-vimeo-embed">{{'APP_ABOUT_8_3_TEXT'|translate}}</a></li>
            <li><a target="_new" href="https://github.com/brandly/angular-youtube-embed">{{'APP_ABOUT_8_4_TEXT'|translate}}</a></li>
            <li><a target="_new" href="http://idiallo.com/blog/php-mysql-search-algorithm">{{'APP_ABOUT_8_5_TEXT'|translate}}</a></li>
            <li><a target="_new" href="https://creativecommons.org/">{{'APP_ABOUT_8_6_TEXT'|translate}}</a></li>

        </ul>
    </div>
</div>