<div class="inner" ng-class="{'has-results': searchResults}">
    <h1>{{'APP_TITLE'|translate}}</h1>
    <div class="aboutContainer">
        <h2>The APP</h2>
        <p>
            Beetho is a free-for-all application, that works as a hub for all the media distributed for free in the internet. Beetho does not own any of the videos published, and don't have authority over its availability. All the media used can be found in the internet as free material.
        </p>
        <h2>Open Source</h2>
        <p>
            Beetho was developed using open source technlogies, and its code can be found on Github's repository "Folkcert". If you are a developer, feel free to search through the code, and if you find any security weakness, I would appreciate to report it, or if you are brave enough you can fork it and make your fix (don't be an asshole, don't break it).
        </p>
        <h2>No Ads</h2>
        <p>
            Our objective is to survive without annoying ads, but as you may know, there are bills to pay when maintaining a website. We will really appreciate your help with a donation if you think is worth enough.
        </p>
        <h2>API</h2>
        <p>
            We have a public API with the data used by Beetho, there is a wiki on the Github's repository in which you can dig more. Please write me if you think this API will be helpful for your project, we can get to an agreement and you will be able to use it for your own purposes.
        </p>
        <h2>Contact</h2>
        <p>
            If there's anything else you would like to know, please do not hesitate on writing an e-mail to me to my personal address:
            <br/>
            <img src="images/D73179_20170406_042107.jpg" />
        </p>
        <h2>List of thanks</h2>
        <ul>
            <li>HTML5 UP, for the template used for the website. Give them a visit, they have cool resources!</li>
            <li>GitHub, for the free space.</li>
            <li>Youtube, Vimeo, DailyMotion, for the free sharing of the videos.</li>
            <li>To the guys that made the development easier sharing his own code.</li>
        </ul>
        <h2>Useful Links</h2>
        <ul>
            <li><a target="_new" href="https://github.com/folkcert">Folkcert Repository</a></li>
            <li><a target="_new" href="https://html5up.net/">HTML5 UP</a></li>
            <li><a target="_new" href="https://github.com/vincenzomerolla/angular-vimeo-embed">Angular Vimeo-embed plugin</a></li>
            <li><a target="_new" href="https://github.com/brandly/angular-youtube-embed">Angular Youtube-embed plugin</a></li>
            <li><a target="_new" href="http://idiallo.com/blog/php-mysql-search-algorithm">PHP Search Algorithm</a></li>
        </ul>
    </div>
</div>