<div class="inner" ng-class="{'has-results': searchResults}">
    <h1>{{'APP_TITLE'|translate}}</h1>
    <p>
        {{'APP_SLOGAN'|translate}}
    </p>
</div>
<div class="searchSection">
    <!-- Search Form -->
    <div class="row">
        <div class="col-xs-12 col-lg-8 col-lg-offset-2">
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" id="inputSearch" placeholder="Enter the name of the concert or the artist" ng-model="searchKeyword">
                </div>
            </form>
        </div>
    </div>

    <!-- Search Results -->
    <div class="row" ng-show="searchResults" ng-animate="true" id="searchResults">
        <div class="col-xs-12" id="concertsList">
            <h3>Concerts</h3>
            <div class="row" ng-show ="searchResults.concerts.count > 0" ng-if="showLoading === false">
                <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3" ng-repeat="item in searchResults.concerts.data">
                    <search-result-concert concert="item.entry"></search-result-concert>
                </div>
            </div>
            <div ng-if="showLoading === true">
                <i class="fa fa-refresh fa-spin fa-3x fa-fw"></i>
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <div class="col-xs-12" id="artistsList">
            <h3>Artists</h3>
            <div class="row" ng-show ="searchResults.artists.count > 0" ng-if="showLoading === false">
                <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3" ng-repeat="item in searchResults.artists.data">
                    <search-result-artist artist="item.entry"></search-result-artist>
                </div>
            </div>

            <div ng-if="showLoading === true">
                <i class="fa fa-refresh fa-spin fa-3x fa-fw"></i>
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
</div>